@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-950 text-neutral-50;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-700 rounded-full;
}
